  .loadmodal {
    display:    block;
    position:   fixed;
    z-index:    99;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
    /*url('https://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;*/
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  -webkit-animation-delay: .18s;
          animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  -webkit-animation-delay: .27s;
          animation-delay: .27s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}